md-bottom-sheet.md-grid.ar-bottom-sheet(layout='row')
  md-list(flex='', layout='row', layout-align='center center')
    md-list-item
      md-button.md-grid-item-content(ui-sref=".edit({ id : selectedUser.id })")
        .fa(class="fa-pencil-square-o")
        .md-grid-text   {{ 'app.editLabel' | i18n }}
