md-card
  md-subheader {{ 'users.editHeader' | i18n:originalDetails}}
  md-card-content
    fieldset(ng-form="userForm")
      md-content(layout-padding='', layout='column')
        md-input-container
          label(i18n="users.name")
          input(ng-model='details.name', required , md-maxlength="30")
        md-input-container
          label(i18n="users.login")
          input(ng-model='details.login', required , md-maxlength="30")
  md-divider
  .md-actions(layout="row", layout-align="end center")
    md-button.md-raised.md-primary(i18n="app.save", aria-label="Save" ng-disabled="!(details | hasChange:originalDetails) || userForm.$invalid")
    md-button.md-raised(i18n="app.cancel", aria-label="Cancel", ui-sref="^")
