md-list(ng-show="'users' | isState")
  md-subheader.md-no-sticky {{ 'users.systemUsers' | i18n }}
  md-list-item(ng-repeat="user in users", ng-click="userOptions(user, $event)") 
    p {{user.name}}
div(ui-view="", ng-show="'users.edit' | isState")
