md-toolbar{
  min-height: 68px;
}
md-input-container{
  padding : 0;
}
fieldset{
  border : none;
  padding: 0;
  margin: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-before: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
  -webkit-padding-after: 0;
}
.md-button{
  &.text-left{
    text-align: left;
  }
}
