doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Node front-end
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='bower_components/AngularJS-Toaster/toaster.css')
    link(href='slidebar-site.css', rel='stylesheet')
    link(href='site.css', rel='stylesheet')
  body(ng-app="app", ng-controller="applicationCtr as appCtr")
    toaster-container
    #wrapper
      #sidebar-wrapper
        ul.sidebar-nav
          li.sidebar-brand
            a(ui-sref='home') Node front-end
          li(ng-repeat="item in appCtr.userData | availableStates:appCtr.listOfMenuPositons:appCtr.listOfAllStates")
            a(ui-sref='{{item}}', ui-sref-active="active") {{item}}
          li(ng-if="appCtr.userData")
            a(href="#", ng-click="appCtr.logOut($event)") Log out
      .alert.alert-success.animate(ng-show="$loading") loading ...
      #page-content-wrapper(ui-view="")
    script(src="bower_components/angular/angular.js")
    script(src="bower_components/angular-resource/angular-resource.js")
    script(src="bower_components/angular-ui-router/release/angular-ui-router.js")
    script(src="bower_components/jquery/dist/jquery.js")
    script(src="bower_components/bootstrap/dist/js/bootstrap.js")
    script(src="bower_components/holderjs/holder.js")
    script(src="bower_components/AngularJS-Toaster/toaster.js")
    script(src="bower_components/angular-jwt/dist/angular-jwt.js")
    script(src="bower_components/angular-local-storage/dist/angular-local-storage.js")
    script(src="auth/auth.js")
    script(src="users/users.js")
    script(src="application/application.js")
