doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Node front-edn
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='bower_components/AngularJS-Toaster/toaster.css')
    link(href='slidebar-site.css', rel='stylesheet')
    link(href='site.css', rel='stylesheet')
  body(ng-app="app", ng-controller="applicationCtr")
    toaster-container
    #wrapper
      #sidebar-wrapper
        ul.sidebar-nav
          li.sidebar-brand
            a(ui-sref='home') Start Bootstrap
          li(ng-repeat="item in $menuItems")
            a(ui-sref='{{item.state}}', ui-sref-active="active") {{item.name}}
      div.loading(ng-show="$loading") loading ...
      #page-content-wrapper(ui-view="")
    script(src="bower_components/angular/angular.js")
    script(src="bower_components/angular-resource/angular-resource.js")
    script(src="bower_components/angular-ui-router/release/angular-ui-router.js")
    script(src="bower_components/jquery/dist/jquery.js")
    script(src="bower_components/bootstrap/dist/js/bootstrap.js")
    script(src="bower_components/holderjs/holder.js")
    script(src="bower_components/AngularJS-Toaster/toaster.js")
    script(src="auth/auth.js")
    script(src="users/users.js")
    script(src="application/application.js")
