doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/angular-material/0.11.0/angular-material.min.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='site.min.css')
    link(rel="shortcut icon", href="favicon.ico")
  body(ng-app='app', ng-controller='appController' layout='row')
    block content
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-animate.min.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-aria.min.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-sanitize.min.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular-material/0.11.0/angular-material.min.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js')
    script(type='text/javascript', src='lib/angular-localization/1.4.0/angular-localization.min.js')
    script(type='text/javascript', src='site.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.20/require.min.js' data-main="main.js")
    //script(type='text/javascript', src='cookBook/cookBook.min.js')
    //script(type='text/javascript', src='users/users.min.js')
    //script(type='text/javascript', src='app/app.min.js')
