doctype html
html(lang='en')
  head
    title= app
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')
    if !isDevelopment
      link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic')    
      link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/angular-material/'+ material +'/angular-material.min.css')
      link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/'+ awesome +'/css/font-awesome.min.css')
    else
      link(rel='stylesheet', href='lib/roboto.css')    
      link(rel='stylesheet', href='lib/angular-material.css')
      link(rel='stylesheet', href='lib/font-awesome.css')
    link(rel='stylesheet', href='site.min.css')
    link(rel="shortcut icon", href="favicon.ico")
  body(ng-app='app', layout='row')
    block content
    if !isDevelopment
      script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular.js/'+ angular +'/angular.min.js')
      script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular.js/'+ angular +'/angular-animate.min.js')
      script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular.js/'+ angular +'/angular-aria.min.js')
      script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular.js/'+ angular +'/angular-sanitize.min.js')
      script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular.js/'+ angular +'/angular-resource.min.js')
      script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular-material/'+ material +'/angular-material.min.js')
      script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/'+ angularui +'/angular-ui-router.min.js')
      script(type='text/javascript', src='lib/angular-localization/1.4.0/angular-localization.min.js')
      script(type='text/javascript', src='site.js')
      script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/require.js/'+ requirejs +'/require.min.js' data-main="main.js")
    else 
      script(type='text/javascript', src='lib/angular.js')
      script(type='text/javascript', src='lib/angular-animate.js')
      script(type='text/javascript', src='lib/angular-aria.js')
      script(type='text/javascript', src='lib/angular-sanitize.js')
      script(type='text/javascript', src='lib/angular-resource.js')
      script(type='text/javascript', src='lib/angular-material.js')
      script(type='text/javascript', src='lib/angular-ui-router.js')
      script(type='text/javascript', src='lib/angular-localization/1.4.0/angular-localization.js')
      script(type='text/javascript', src='site.js')
      script(type='text/javascript', src='lib/require.js' data-main="main.js")
