md-dialog(aria-label="Select language")
  md-dialog-content
    form(name="newLanguage")
      md-radio-group(ng-model="selectedLanguage")
        md-radio-button(ng-value="'pl-PL'", aria-label="pl")
          md-button.md-fab.md-primary.pl(aria-label="Polish")
            md-tooltip {{ 'app.pl' | i18n}}
        md-radio-button(ng-value="'en-US'", aria-label="en")
          md-button.md-fab.md-primary.en(aria-label="Englis")
            md-tooltip {{ 'app.en' | i18n}}
  .md-actions(layout="row")
    md-button(ng-disabled="originalLanguage === selectedLanguage", ng-click="change()") {{ 'app.yes' | i18n }}
    md-button(md-autofocus="", ng-click="cancel()") {{ 'app.no' | i18n }}
